# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# env files: secrets never get committed
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
